fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic
pydantic-settings
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
celery
redis
fastapi-mail
alembic
python-dotenv
ruff
mypy
pre-commit